<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viajes el Destino Feliz</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
</head>
<body class="container">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img src="./img/upsin.png" alt="Logo Upsin" style="width: 100px;
        height: 100px;">
        <ul class="nav navbar-nav navbar-center">
            <li><h2>El Destino Feliz</h2></li>
        </ul>

      </nav>

      <style>
        .navbar-nav.navbar-center {
        position: absolute;
        left: 50%;
        transform: translatex(-50%);
}
      </style>

</body>
</html>